.card-btn {
    background-color: #256F78 !important;
    outline: none;
    color: white !important;
}

.card-btn:hover {
    background-color: #EE922B !important;
}

.card-btn:focus {
    box-shadow: none;
}

.category-text {
    color: #EE922B;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #C6E4EF !important;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.card-footer-links {
    flex-grow: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 2.5rem;
}

.card-subtitle {
    font-size: 0.9rem;
}

.card-bg {
    transition: all 0.3s ease-in-out;
}

.card-bg:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #EE922B;
}

.card-img-top {
    margin-top: 8px !important;
    max-height: 200px !important;
    max-width: 100% !important;
    height: auto !important;
    width: auto !important;
    object-fit: contain !important;
    object-position: center !important;
}

.card {
    height: auto !important;
}