.card-btn {
    background-color: #256F78 !important;
    outline: none;
    color: white !important;
}

.card-btn:hover {
    background-color: #EE922B !important;
}

.card-btn:focus {
    box-shadow: none;
}


.category-text {
    color: #EE922B;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Occupare tutto lo spazio disponibile */
}


.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.card-footer-links {
    flex-grow: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.card-btn {
    background-color: #256F78;
}

.card-btn:hover {
    background-color: #EE922B;
}



/* Effetto al passaggio del mouse sulle card */
.card-bg {
    transition: all 0.3s ease-in-out;
}

.card-bg:hover {
    transform: translateY(-5px) scale(1.05);
    /* Solleva leggermente la card e la ingrandisce */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Aggiunge un'ombreggiatura più pronunciata */
    border-color: #EE922B;
    /* Cambia il colore del bordo */
}




.card-img-top {
    max-height: 200px !important;
    /* Altezza massima per evitare tagli */
    max-width: 100% !important;
    /* Limita la larghezza */
    height: auto !important;
    /* Mantieni le proporzioni */
    width: auto !important;
    /* Mantieni le proporzioni */
    object-fit: contain !important;
    /* Visualizza l'immagine intera */
    object-position: center !important;
    /* Centra l'immagine */
}

.card {
    height: auto !important;
}