.article-section {
    min-height: 60vh;
    background-color: #49A5B0;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.container-home {
    background-image: url(media/ecommerce-wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
}