.article-section {
    min-height: 60vh;
    background-color: #49A5B0;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

/* Contenitore principale della home */
.container-home {
    background-image: url(media/ecommerce-wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Adatta l'immagine all'intero contenitore */
    height: 100vh;
    /* Altezza dell'intera schermata */
}

/* Modifica il comportamento dell'immagine di sfondo su dispositivi piccoli */
@media (max-width: 576px) {
    .container-home {
        background-image: url(media/ecommerce-wallpaper.png);
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;


    }


}

body {
    font-family: 'Roboto', sans-serif;
}